@model LearnDapper.Models.User

@{
    Layout = "_Layout";
}

<h3>Create a user</h3>
<form method="post" action="">
    <table>
        <tr>
            <td><p>Enter a name</p></td>
            <td><input type="text" name="name" /> </td>
        </tr>
        <tr>
            <td><p>Enter user's age :</p></td>
            <td>
                <input type="text" name="age" />
            </td>
        </tr>
        <tr><td><input type="submit" value="Send"/> </td><td></td></tr>
    </table>
</form>
